DOUBAO_API_KEY=
DOUBAO_ASR_RESOURCE_ID=volc.seedasr.auc
DOUBAO_ASR_SUBMIT_URL=https://openspeech.bytedance.com/api/v3/auc/bigmodel/submit
DOUBAO_ASR_QUERY_URL=https://openspeech.bytedance.com/api/v3/auc/bigmodel/query
DOUBAO_ASR_UID=newcut-skill
DOUBAO_ASR_POLL_INTERVAL_MS=5000
DOUBAO_ASR_TIMEOUT_MS=3600000

TOS_BUCKET=
TOS_REGION=
TOS_ENDPOINT=
TOS_PREFIX=newcut/asr
TOS_PRESIGN_EXPIRES=3600
